{{set . "title" (msg . "app.title")}}
{{template "header.html" .}}

<div class="container">
    <div class="ui grid">
        {{range .events}}
        <div class="four wide column">
            <div class="padding-sm">
                <div class="{{.Status}} uptime-card padding-md">
                    <strong>{{.Canonical}}</strong>
                    {{if eq .Status "online"}}
                        <p>Everything is up</p>
                    {{else if eq .Status "slow"}}
                        <p>Things look slow</p>
                    {{else if eq .Status "offline"}}
                        <p>Network is offline!</p>
                    {{end}}
                    <div class="time"><small class="date-format">{{.Date}}</small></div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    <div class="disqus-container">
        <div id="disqus_thread"></div>
        <script>
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//protraf.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>

{{template "footer.html" .}}
